name: "Slack Notification - Pull request is opened"

on:
  pull_request:
    types: [opened, reopened, ready_for_review]
    branches: [main]

jobs: 
  send_slack:
    runs-on: ubuntu-latest
    
    steps:
      - name: Send to Slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: ""
            blocks:
              - type: "section"
                text: "Pull Request Details"
                  type: "mrkdwn"
                  text: "PR Link: ${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
